//- jQuery (necessary for Bootstrap's JavaScript plugins)
//- script(src='public/bower_components/jquery/dist/jquery.min.js')

// Include all compiled plugins (below), or include individual files as needed
//- script(src='public/bower_components/bootstrap/dist/js/bootstrap.js')
//- script(src='js/bundle.js')
//author : Kunal Gupta | k4u4u4u@gmail.com 
